body {
    font-family: "OpenDyslexic";
    margin: 0;
    padding: 0;
    background-color: #f8ede5;
    color: #403d3a;
}

header {
    background: #755139; 
    text-align: center;
    padding: 10px;
}

header h1 {
    font-size: 2.5em;
    margin-bottom: 5px;
}

header p {
    font-size: 1.2em;
}

section {
    margin: 20px;
}

h2 {
    color: #403d3a;
}

.fold-unfold {
    display: none;
}

.fold-unfold-label {
    cursor: pointer;
    background-color: #755139;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    display: block;
    width: fit-content;
    margin: 10px auto;
}

.fold-unfold:checked + .fold-unfold-label {
    background-color: #503028;
}

.fold-unfold-content {
    display: none;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #d2b48c;
    border-radius: 8px;
    margin: 10px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.fold-unfold:checked + .fold-unfold-label + .fold-unfold-content {
    display: block;
}

#contact {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #d2b48c;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

footer {
    background-color: #755139;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.icone-link img {
    height:50px;
    width:50px;
}

.language-selector {
    position: absolute;
    top: 10px;
    right: 20px;
    color: #fff;
}

#top-logo {
    position: absolute;
    top: 0px;
}

header h1{
    background-color: #b98563;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: inline-block;
    border: 3px solid #7c5439;
}

header p{
    color: #fff;
}

@font-face {
    font-family: "OpenDyslexic";
    src: url('fonts/OpenDyslexic/OpenDyslexic-Regular.woff');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "OpenDyslexic";
    src: url('fonts/OpenDyslexic/OpenDyslexic-Italic.woff');
    font-style: italic;
    font-weight: normal;  
}

@font-face {
    font-family: "OpenDyslexic";
    src: url('fonts/OpenDyslexic/OpenDyslexic-Bold.woff');
    font-style: normal;
    font-weight: bold;
}

@font-face {
    font-family: "OpenDyslexic";
    src: url('fonts/OpenDyslexic/OpenDyslexic-Bold-Italic.woff');
    font-weight: bold;
    font-style: italic;
}